type: AdaptiveCard
version: '1.5'
'$schema': 'https://adaptivecards.io/schemas/adaptive-card.json'
msTeams:
  width: full
body:
  - type: ColumnSet
    columns:
      - type: Column
        width: 'stretch'
        items:
          - type: TextBlock
            text: Tag Problem
            style: heading
          - type: Container
            items:
            - type: TextBlock
              text: '952457084211'
              fontType: Monospace
            - type: TextBlock
              text: Stockholm (eu-north-1)
              spacing: 'None'
      - type: Column
        width: 'auto'
        targetWidth: 'AtLeast:Standard'
        verticalContentAlignment: 'Bottom'
        items:
          - type: TextBlock
            text: per.engstrom@nwise.se
            fontType: Monospace
            weight: 'Bolder'
            spacing: None
          - type: TextBlock
            text: AdministratorAccess
            spacing: None
          - type: TextBlock
            spacing: None
            text: Identity Center
  - type: Container
    targetWidth: 'AtMost:Narrow'
    items:
      - type: TextBlock
        text: per.engstrom@nwise.se
        fontType: Monospace
        weight: 'Bolder'
        spacing: None
      - type: TextBlock
        text: AdministratorAccess
        spacing: None
      - type: TextBlock
        spacing: None
        text: Identity Center
  
  - type: Container
    showBorder: true
    items:
      - type: ColumnSet
        columns:
          - type: Column
            width: auto
            verticalContentAlignment: center
            targetWidth: 'atLeast:Narrow'
            items:
              - type: TextBlock
                text: '5'
                style: 'heading'
          - type: Column
            width: stretch
            items:
              - type: TextBlock
                text: 'ami-0a3716ae54ca4bd2a'
                spacing: None
              - type: TextBlock
                spacing: None
                text: Identity Center
          - type: Column
            targetWidth: 'AtLeast:Standard'
            width: auto
            verticalContentAlignment: center
            items:
              - type: ActionSet
                id: toggle-1a
                actions:
                  - type: Action.ToggleVisibility
                    title: ShowHide
                    targetElements:
                      - table-1a
                      - table-1b
      - type: ActionSet
        id: toggle-1b
        targetWidth: 'AtMost:Narrow'
        actions:
          - type: Action.ToggleVisibility
            title: ShowHide2
            targetElements:
              - table-1a
              - table-1b
      - type: Table
        id: table-1a
        isVisible: false
        targetWidth: 'atLeast:Standard'
        columns:
          - width: auto
          - width: auto
          - width: auto
          - width: 1
        rows:
          - type: TableRow
            cells:
              - type: TableCell
                items:
                  - type: TextBlock
                    text: Key
                    style: columnHeader
              - type: TableCell
                items:
                  - type: TextBlock
                    text: Value
                    style: columnHeader
              - type: TableCell
                items:
                  - type: TextBlock
                    text: Error
                    style: columnHeader
              - type: TableCell
                items:
                  - type: TextBlock
                    text: Message
                    style: columnHeader
          - type: TableRow
            cells:
              - type: TableCell
                items:
                  - type: TextBlock
                    text: foo
              - type: TableCell
                items:
                  - type: TextBlock
                    text: ''
              - type: TableCell
                items:
                  - type: TextBlock
                    text: KEY_CASE
              - type: TableCell
                items:
                  - type: TextBlock
                    text: 'Tag key **foo** should be **Foo**!'
      - type: Container
        id: table-1b
        isVisible: false
        targetWidth: 'atMost:Narrow'
        items:
          - type: TextBlock
            text: KEY_CASE
          - type: TextBlock
            text: 'Tag key **foo** should be **Foo**!'
            spacing: 'None'
          - type: Table
            firstRowAsHeaders: false
            spacing: 'Small'
            columns:
              - width: 1
              - width: 1
            rows:
              - type: TableRow
                cells:
                  - type: TableCell
                    items:
                      - type: TextBlock
                        text: foo
                  - type: TableCell
                    items:
                      - type: TextBlock
                        text: ''